{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
    <div class="container">
        <a class="navbar-brand" href="/app/#/crypto-list" data-link>CoinView</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto align-items-center">
                <li class="nav-item me-3">
                    <span class="navbar-text text-muted">
                        User {{ request.user.username }}
                    </span>
                </li>
                <li class="nav-item"><a class="nav-link" href="#/crypto-list" data-link>Cryptocurrencies</a></li>
                <li class="nav-item"><a class="nav-link" href="#/convert" data-link>Convert</a></li>
                <li class="nav-item"><a class="nav-link" href="#/apr" data-link>APR</a></li>
                <li class="nav-item"><a class="nav-link" href="#/history" data-link>History</a></li>
                <li class="nav-item">
                    <button class="nav-link btn btn-link text-muted logout-link" id="logout-button">Logout</button>
                </li>
            </ul>
        </div>
    </div>
</nav>